h1{
    text-align:center;
}
h2{
    text-align:center;
}
p{text-align:center;
}
body{ background-image: url("/assets/images/ironthrone.JPG");

}
#adiv{
    text-align:center;
    color:red;
    border:solid, 2px, black;}

#qdiv{text-align: center;
    border: 2px, solid, black;
}
#btn{
    text-align:center;
}
#start{
    text-align:center;
    color: white;
};